.close-calendar {
  display: none !important;
}

.multiple-datepicker-modal-main .modal-background {
  opacity: 1;
  background: rgba(0, 0, 0, 0.32);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.multiple-datepicker-modal-main .modal-body {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  z-index: 1001;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.multiple-datepicker-modal-main .modal-body .calendar-main {
  max-width: 80vw;
  pointer-events: auto;
  position: static;
  box-sizing: border-box;
  display: flex;
  max-height: 100%;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
  0 9px 46px 8px rgba(0, 0, 0, 0.12);
  background: #fff;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  transform: none;
  color: rgba(0, 0, 0, 0.87);
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-header {
  padding: 28px 20px 0 20px;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-header .control-panel {
  display: flex;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-header .control-panel .calendar-button {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  cursor: pointer;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  padding: 0 16px;
  line-height: 36px;
  border: unset;
  background-color: unset;
  font-weight: 500;
  font-size: 14px;
  transition: background 0.8s;
  border-radius: 4px;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-header .control-panel .calendar-button:active {
  background-color: rgb(221, 221, 221);
  background-size: 100%;
  transition: background 0s;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-header .control-panel .spacer {
  flex: 1 1 auto;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-header .control-panel .step-button {
  width: 40px;
  position: relative;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  padding: 0;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 50%;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-header .control-panel .step-button::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  content: "";
  margin: 15.5px;
  border: 0 solid currentColor;
  border-top-width: 2px;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-header .control-panel .previous::after {
  border-left-width: 2px !important;
  transform: translateX(2px) rotate(-45deg);
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-header .control-panel .next::after {
  border-right-width: 2px;
  transform: translateX(-2px) rotate(45deg);
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-content {
  outline: 0;
  padding: 24px 8px 8px 8px;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-content table {
  width: 100%;
  border-collapse: collapse;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-content table th {
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.38);
  padding: 0 0 8px 0;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-content table .divider {
  text-align: center;
  padding: 0 0 8px 0;
  height: 1px;
  position: relative;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-content table .divider::after {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  right: -6px;
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-content table .calendar-day {
  width: 14.2857%;
  padding-top: 7.14286%;
  padding-bottom: 7.14286%;
  position: relative;
  height: 0;
  line-height: 0;
  text-align: center;
  outline: 0;
  cursor: pointer;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 13px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-content table .calendar-day .day {
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-radius: 999px;
  color: rgba(0, 0, 0, 0.87);
  border-color: transparent;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-content table .calendar-day .day:hover {
  background-color: rgb(221, 221, 221);
  background-size: 100%;
  transition: background 0s;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-content table .calendar-day .day.selected {
  background-color: #3f51b5;
  color: #fff !important;
}

.multiple-datepicker-modal-main .modal-body .calendar-main .calendar-container .calendar-content table .calendar-day .day.today {
  border-color: rgba(0, 0, 0, 0.38);
}

@media all and (orientation: landscape) {
  .multiple-datepicker-modal-main .calendar-main {
    width: 64vh;
    height: 80vh;
  }
}

@media all and (orientation: portrait) {
  .multiple-datepicker-modal-main .calendar-main {
    width: 80vw;
    height: 100vw;
  }
}
